.work {
  padding: 3rem 0;
  text-align: left;
}

.work.section {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
  margin-bottom: 6rem;
}

.work h2 {
  font-size: 3.1rem;
  font-weight: 900;
  font-family: var(--poppins);
  text-align: center;
  margin-bottom: 2rem;
}

.emoji {
  font-size: 3rem;
}
