.landing {
  /* text-align: center; */
  border-bottom: 1px solid #e1e1e1;
}

.pill-container {
  position: relative;
}
.pill-over {
  /* position: absolute; */
  /* transform: translateX(10%) translateY(-0.7rem); */
  color: #c36191;
  /* width: 100%; */
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
@media (min-width: 55rem) {
  .landing {
    border-bottom: 0;
  }
}

.landing .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 55rem) {
  .landing .container {
    flex-direction: row;
    /* width: 100vw; */
  }
}

.image-container {
  height: 31vh;
  order: 1;
}
@media (min-width: 55rem) {
  .image-container {
    height: 100vh;
    order: 2;
    width: 50%;
  }
}
.image-container img {
  width: 100%;
  height: 31vh;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 55rem) {
  .image-container img {
    height: 100vh;
    object-position: center;
  }
}

.content-container {
  text-align: center;
  padding: 2rem 0;
  order: 2;
}
@media (min-width: 55rem) {
  .content-container {
    padding: 0 4rem;
    text-align: left;
    order: 1;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
}

.pill {
  font-family: var(--ff-poppins);
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 1;
  align-items: center;
  padding: 0.4rem 0.2rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  background: var(--fg);
  color: var(--bg);
}
@media (min-width: 55rem) {
  .pill {
    width: fit-content;
  }
}

.title-text {
  margin: 1rem 0;
  font-size: 1.8rem;
}
.title-text h1 {
  font-family: var(--ff-roboto);
  font-weight: 100;
}

.title-text p {
  font-size: 3rem;
  font-family: var(--ff-poppins);
  font-weight: 700;
  text-transform: uppercase;
}

.gradient-text-1 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
}
.gradient-text-2 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #b673f8 100.78%, #4ca5ff 2.34%);
}
.gradient-text-3 {
  /* --grad3: red; */
  font-size: 1.3rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: var(--grad3);
}
.dark ~ .gradient-text-3 {
  color: red;
}
.hero-description {
  font-family: var(--ff-roboto);
  font-weight: 900;
  max-width: 30ch;
  margin-inline: auto;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
@media (min-width: 55rem) {
  .hero-description {
    text-align: left;
    margin-inline: 0;
  }
}

.social {
  font-family: var(--ff-roboto);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1.3;
}
.social-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.social-nav li:nth-child(1):hover {
  color: #1eb8f9;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.social-nav li:nth-child(2):hover {
  color: #80f082;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.social-nav li:nth-child(3):hover {
  color: #219fee;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 55rem) {
  .social p:nth-child(2) {
    /* display: flex;
    gap: 1rem;
    align-items: center; */
    float: left;
    line-height: 1.6;
  }
  .social ul {
    /* line-height: 1.6; */
  }
  .social-nav {
    justify-content: left;
    padding-left: 1rem;
  }
}

.slider-item {
  /* mix-blend-mode: overlay; */
  transform: scaleX(1);
  width: 50%;
  height: auto;
}
